# Ignore Python virtual environments
.venv/
venv/

# Ignore environment variable files
.env

# Ignore data and output files (but not src/data/)
data/raw/map/*
!data/raw/map/control_points/
!data/raw/map/GCP_points_for_setting_georeference.points
data/raw/gps/*
!data/raw/gps/.gitkeep
data/derived/map/*
!data/derived/map/control_points_race_3006.shp
!data/derived/map/impassible_areas.shp
data/derived/gps/*
!data/derived/gps/.gitkeep
# ignore cache files
cache/
# Ignore OS and editor files
.DS_Store
*.swp
*.swo
output/model_trace/random_forest_model.pkl
# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
